<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="C:/dev/drupal-code/vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="phpunit-bootstrap.php"
         colors="true"
         cacheDirectory="C:/Temp/phpunit-lstc-cache">
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/src/Unit</directory>
      <directory>modules/license_service_token_counter_engine/tests/src/Unit</directory>
    </testsuite>
  </testsuites>
</phpunit>
